<web-app>  
  
<servlet>  
<servlet-name>LoginServlet</servlet-name>  
<servlet-class>com.bridgelabz.LoginServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>LoginServlet</servlet-name>  
<url-pattern>/LoginServlet</url-pattern>  
</servlet-mapping>  

<init-param>
<param-name>user</param-name>
<param-value>Naresh</param-value>
</init-param>

<init-param>
<param-name>password</param-name>
<param-value>Darling</param-value>
</init-param>
  
<welcome-file-list>
<welcome-file>login.html</welcome-file>
</welcome-file-list>  
  
</web-app>  